<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <RepositoryName>Ananastown</RepositoryName>
    <RepositoriesPath>C:\Users\alber\AppData\Local\Packages\Microsoft.MinecraftUWP_8wekyb3d8bbwe\LocalState\games\com.mojang\minecraftWorlds\MineSyncer.ini</RepositoriesPath>
    <LogConfigPath>log4net.config</LogConfigPath>
  </appSettings>

</configuration>